.a{
    background-color: plum;
    height: 70px;
}
.b{
    color: purple;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 100px;
    font-size: 20px;
    
}

html {
    background-color: lavender;
}